<div class="container mt-4">

 <div style="width:56%;" class="d-flex justify-content-between align-items-center text-white">
    <%= link_to carts_path do %>
      <i class="fas fa-long-arrow-alt-left text-white"></i>
    <% end %>
      <p class="my-0 text-white" style="font-size:18px">Checkout</p>
  </div>

  <div class="mt-4">
    <% @cart_items.each do |item| %>
      <div class="card-product cart-item mb-3 mt-2 text-dark">
        <img src= "<%= item.furniture.image.key %>">
        <div class="card-product-infos">
          <h2><%= item.furniture.name %></h2>
          <p class="mt-1">$<%= item.furniture.price %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <button id="pay" class="btn btn-pink-lg">Pay</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>
  </div>

</div>
