<div class="container" data-controller="shopping-cart">
  <!-- Top navigation bar -->
  <div class="marketplace-nav mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="search d-flex">
        <div class="search-bar">
          <%= form_tag furnitures_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search"
            %>
        </div>
        <div class="marketplace-icon">
            <%= button_tag(class: 'mini-button') do %>
              <i class="fas fa-search"></i>
            <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <%= link_to carts_path do %>
          <i class="fas fa-shopping-cart fa-lg" style="color:white; position:relative">
            <span class="badge" data-target="shopping-cart.count"><%= @user.cart_items.length %></span>
          </i>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Theme filters -->
  <div class="slider mt-2">
    <%= link_to 'All', furnitures_path, class: 'btn-marketplace btn-marketplace-color' %>
    <% Theme::THEMES.each do |theme| %>
      <%= link_to theme[:name], furnitures_path(theme_name: theme[:name]), class: 'btn-marketplace btn-marketplace-color' %>
    <% end %>
  </div>

  <%# <!-- Sorting -->
  <div class='container d-flex justify-content-end'>
    <select name="sorting" id="sorting-options">
      <option value="" disabled selected>Sort by</option>
      <option value="date-asc">Most Recent</option>
      <option value="price-asc">Price (Low to High)</option>
      <option value="price-desc">Price (High to Low)</option>
    </select>
  </div> %>

  <div class="container">
    <div class="marketplace-grid mt-3">
      <% @furnitures.each do |furniture| %>
        <div style="height: 200px;">
          <%= link_to furniture_path(furniture) do %>
            <div id="furniture-<%= furniture.id %>" class="furniture-card">
              <div class="text-center mt-2">
                <img src= "<%= furniture.thumbnail_url %>" alt="thumbnail" class="card-img-top">
              </div>
              <div class="container">
                <div class="d-flex justify-content-between align-items-center mt-2 text-blue">
                  <!-- furniture name and button to add to favorites -->
                  <div class="card-title my-0" style="font-size:14px;"><%= furniture.name.truncate(10) %></div>
                  <%= link_to marketplace_ar_items_path(furniture_id: furniture.id), method: 'post', remote: true do %>
                    <i class="fas fa-vr-cardboard"></i>
                  <% end %>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <p class="card-text mb-0" style="font-size:12px; color: #2947ED">$<%= furniture.price %></p>
                  <%= link_to cart_path(@user.cart, furniture_id: furniture.id), method: "patch", class: "shopping-cart p-0 m-0", data: { action: "click->shopping-cart#addToCart" } do %>
                  <%# <button class="shopping-cart p-0 m-0" data-action="click->shopping-cart#addToCart"> %>
                    <i class="fas fa-shopping-cart" style="color:#2947ED;"></i>
                  <%# </button> %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>