<div class="furniture-show" data-controller="shopping-cart">
  <div class="show-img">
    <%= cl_image_tag @furniture.image.key, width: 400, crop: :fill %>
    <div>
      <%= link_to furnitures_path do %>
        <i class="fas fa-long-arrow-alt-left px-4 py-3 back-to-furnitures"></i>
      <% end %>
      <div class="show-cart px-4 py-3">
        <%= link_to carts_path do %>
          <i class="fas fa-shopping-cart fa-lg" style="color:white; position:relative">
            <span class="badge" data-target="shopping-cart.count"><%= @cart_items.length %></span>
          </i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="px-3 py-1">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3 class="my-0"><%= @furniture.name.upcase %></h3>
      <h3 class="my-0"><strong>$<%= @furniture.price %></strong></h3>
    </div>
    <div>
      <p>Made by: <%= @furniture.manufacturer.name %></p>
      <p><%= @furniture.dimension_width %>cm x <%= @furniture.dimension_height %>cm </p>
    </div>
    <div>
      <p class="text-justify" style="color:white;"><%= @furniture.description %></p>
    </div>

    <div class="mt-3">
      <%= form_with(url: cart_path(@cart), model: @cart, local:true) do |form| %>
        <%= hidden_field_tag :furniture_id, @furniture.id %>
        <%= form.submit "Add To Cart", class: 'add-to-cart', data: { action: "click->shopping-cart#addToCart" } %>
      <% end %>
    </div>
  </div>
</div>

