<div class="container mt-3">
  <div class="show-img d-flex justify-content-left">
    <a href="/furnitures">
      <i class="fas fa-angle-double-left"></i>
    </a>
    <img src=" <%= @furniture.thumbnail_url %> " alt=" <%= @furniture.name %> " style="width: 300px; height: 225px">
  </div>
  <div class="mt-3">
    <h1><%= @furniture.name %></h1>
    <h3><strong>$<%= @furniture.price %></strong></h3>
    <p>Theme: <%= @furniture.theme.name %> </p>
    <p>Manufacturer: <%= @furniture.manufacturer.name %></p>
    <p>Dimensions(W x D): <%= @furniture.dimension_width %>cm x <%= @furniture.dimension_height %>cm </p>
    <p>Description: <%= @furniture.description %> </p>
  </div>
</div>
